Source: davfs2
Section: utils
Priority: optional
Maintainer: Aymeric Agon-Rambosson <aymeric.agon@yandex.com>
Build-Depends: debhelper-compat (= 13), po-debconf, libneon27-dev
Standards-Version: 4.7.0
Rules-Requires-Root: no
Vcs-Git: https://salsa.debian.org/debian/davfs2.git
Vcs-Browser: https://salsa.debian.org/debian/davfs2
Homepage: https://github.com/alisarctl/davfs2

Package: davfs2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: mount a WebDAV resource as a regular file system
 Web Distributed Authoring and Versioning (WebDAV), an extension to the
 HTTP-protocol, allows authoring of resources on a remote
 web server. davfs2 provides the ability to access such resources like
 a typical filesystem, allowing for use by standard applications with no
 built-in support for WebDAV.
 .
 davfs2 is designed to fully integrate into the filesystem semantics of
 Unix-like systems (mount, umount, et c.). davfs2 makes
 mounting by unprivileged users as easy and secure as possible.
 .
 davfs2 does extensive caching to make the file system responsive,
 to avoid unnecessary network traffic and to prevent data loss, and to cope
 for slow or unreliable connections.
 .
 davfs2 will work with most WebDAV servers needing little or no configuration.
